@import url("./css-reset.css");
@import url("./font.css");

:root {
  --color-primary: #01497a;
  --color-primary-foreground: #fff;
}

* {
  font-family: IRANSansX !important;
}

body {
  padding: 10px;
}

.centered-content {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-picker {
  position: relative;
}

.date-picker-input {
  outline: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 10px;
}

.date-picker-arrow {
  visibility: visible;
  left: 0px;
  top: 0px;
  position: absolute;
  height: 11px;
  width: 20px;
  transform: translate(104.2px, 1909.6px);
  z-index: 101;
}

.date-picker__popup {
  display: none;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  top: 40px;
  z-index: 1000;
}
.date-picker__popup.date-picker-input--active {
  display: flex;
}
.date-picker__popup__body {
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.show-calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.show-calender_day-name {
  justify-self: center;
}

.date-picker_calendar {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 20px 10px;
  gap: 5px;
}

.show-calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 5px;
}

.calendar-day {
  background-color: transparent;
  text-align: center;
  line-height: 30px;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.calendar-day:hover {
  border-color: var(--color-primary);
  transition: all 0.2s ease-in-out;
}

.calendar-day--today {
  border-color: #ccc;
}

.calendar-day--selected {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
}

/* Header */
.date-picker__heaer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "month year" "days days";
  gap: 8px;
  color: var(--color-primary-foreground);
  background-color: var(--color-primary);
  padding: 10px 10px 2px;
}

.date-picker__actions {
  grid-row: 1fr;
  display: flex;
  align-items: center;
  gap: 8px;
}

.date-picker__actions--year {
  grid-area: year;
}

.date-picker__actions--month {
  grid-area: month;
}

.date-picker__days {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: days;
}

.date-picker__days-item {
  font-size: 12px;
}

.date-picker__month-name {
  text-align: center;
  width: 80px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--color-primary-foreground);
  width: 24px;
  height: 24px;
  border-radius: 6px;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.btn-icon:hover {
  background-color: var(--color-primary-foreground);
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}

/* Footer */
.date-picker__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 10px;
}

.btn {
  appearance: none;
  color: var(--color-primary-foreground);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 2px 8px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  appearance: none;
  color: var(--color-primary);
  background-color: var(--color-primary-foreground);
  border-radius: 5px;
  padding: 2px 8px;
  transition: all 0.3s ease-in-out;
}

/* Animations */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
