@import url("./css-reset.css");
@import url("./font.css");

:root {
  --color-primary: #01497a;
  --color-white: #fff;
  --color-primary-foreground: #fff;
  --color-border-gray: #ccc;
}

* {
  font-family: IRANSansX !important;
}

.centered-content {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  outline: none;
}
